
import(bigmemory,synchronicity,parallel)

export(rthreadsSetup,rthreadsJoin,rthreadsAtomicInc,rthreadsAttachMutex,
   rthreadsAttachSharedVar,rthreadsMakeMutex,rthreadsMakeSharedVar,
   rthreadsWaitDone,rthreadsMakeBarrier,rthreadsInitBarrier,rthreadsBarrier,
   rthreadsSGset,rthreadsSGget,topDir,myGlobals,sharedGlobals,
   rthreadsSrcExamples,
   tmSendKeys,tmRthreadsInit,tmNxt,tmPrv,tmWinK,
   tmQuit,tmGetNWindows, quickstart)

importFrom("utils", "browseURL")

