
import(bigmemory,synchronicity,parallel)

export(rthSetup,rthJoin,rthAtomicInc,rthAttachMutex,
   rthAttachSharedVar,rthMakeMutex,rthMakeSharedVar,
   rthWaitDone,rthMakeBarrier,rthInitBarrier,rthBarrier,
   rthSGset,rthSGget,topDir,sharedGlobals,
   rthSrcExamples,rthSplit,rthMakeAttachSharedVar,rthMyID,
   rthGridSearch,
   tmSendKeys,tmRthreadsInit,tmNxt,tmPrv,tmWinK, tmQuit,tmGetNWindows,
   tmReduceNThreads,
   shortFactor,quickstart)

importFrom("utils", "browseURL")

