
import(bigmemory,synchronicity,parallel)

export(rthreadsSetup,rthreadsJoin,rthreadsAtomicInc,rthreadsAttachMutex,
   rthreadsAttachSharedVar,rthreadsMakeMutex,rthreadsMakeSharedVar,
   rthreadsWaitDone,rthreadsMakeBarrier,rthreadsInitBarrier,rthreadsBarrier,
   rthreadsSGset,rthreadsSGget,topDir,sharedGlobals,
   rthreadsSrcExamples,rthreadsSplit,rthreadsMakeAttachSharedVar,
   tmSendKeys,tmRthreadsInit,tmNxt,tmPrv,tmWinK, tmQuit,tmGetNWindows,
   tmReduceNThreads,
   shortFactor,quickstart)

importFrom("utils", "browseURL")

